@charset "utf-8";

/*	version: "v4.3"	*/
/* CSS Document */

.copy-bold {
	font-weight: bold;
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
}

.copy-reg {
	color: #fff;
	font-size: 23px;
	line-height: 24px;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* End Font Styles */


body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

body {
	display: none;
}

#unit-container {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

#main-panel {
	background-color: #e22925;
}

.panel {
	overflow: hidden;
}


img {
	width: 100%;
	height: 100%;
}

.full-col {
	width: 300px;
	height: 250px;
}

.full-exp {
	
}

.free {
	position: absolute;
}

.centered {
	text-align: center;
}

.no-point {
	pointer-events: none !important;
}




#intro, #line2 {
	z-index: 2;
	left: 17px;
    top: 20px;
	width: 250px;
}

.intro {
	left: 0;
	top: 0;
	opacity: 0;
}

#intro1 {
	opacity: 1;
}

#puppies {
	width: 300px;
	height: 103px;
	top: 69px;
	left: -20px;
	opacity: 0;
}

#line2 {
	opacity: 0;
}

#cta {
	width: 80px;
	height: 20px;
	left: 17px;
	top: 144px;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

p {
	margin: 0;
}

#ctaCopy {
    top: 3px;
    left: 9px;
}

#disc {
	width: 270px;
	height: 19px;
	left: 17px;
	top: 222px;
	color: #fff;
	font-size: 8px;
	line-height: 9px;
	letter-spacing: -0.2px;
}

#logo {
	width: 146px;
	height: 21px;
	left: 139px;
	top: 195px;
	z-index: 3;
}

#logo svg {
	width: 100%;
	height: 100%;
}